*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button{
    margin: 10px;
    background-color: #F48C1C;
    border: 1.5px solid #044C8C;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
}

header button a{
    color: white;
    font-size: 17px;
}

header button:hover{
    background-color: #044C8C;
    cursor: pointer;
}

.logo img{
    height: 90px;
    width: 240px;
    margin: 10px
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F48C1C;
    height: 50px;
    color: white;
}

.nav a{
    color: white;
}

.main{
    display: flex;
}

.main-menu{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #044C8C;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.menu-icon{
    display: flex;
    justify-content: space-between;
}

.menu-icon img{
    margin-right: 10px;
}

.menu-icon p{
    color: white;
}

.menu-icon a{
    color: white;
}

.img-item{
    height: 25px;
    width: 25px;
}

#perfil{
    height: 25px;
    width: 30px;
}

.doacao{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 75%;
    height: 100hv;
}

.title{
    display: flex;
}

.title h2{
    margin-bottom: 5px;
    margin-left: 20px;
}

.title p{
    margin-bottom: 10px;
}

.form-container form .field input{
    height: 40px;
    width: 50%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid #F48C1C;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-container form .field{
    margin: 20px;
}

.form-container form .field input:focus{
    border: 2px solid #F48C1C;
    transition: all 0.3s ease;
}

.form-container form .field input::placeholder{
    color: gray;
    transition: all 0.3s ease;
}

.form-container form .field input:focus::placeholder{
    color: #044C8C;
}

.sessao{
    margin: 20px;
}

.form-container .field-btn input{
    height: 50px;
    width: 30%;
    margin: 10px;
    border-radius: 15px;
    background-color: #F48C1C;
    border: 1px solid #cc6f0c;
    color: white;
    outline: none;
    font-size: 17px;
    cursor: pointer;
}

.form-container .field-btn input:hover{
    background-color: #cc6f0c;
}