*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button{
    margin: 10px;
    background-color: #F48C1C;
    border: 1.5px solid #044C8C;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
}

header button a{
    color: white;
    font-size: 17px;
}

header button:hover{
    background-color: #044C8C;
    cursor: pointer;
}

.logo img{
    height: 90px;
    width: 240px;
    margin: 10px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F48C1C;
    height: 50px;
    color: white;
}

.nav a{
    color: white;
}

.main{
    display: flex;
}

.main-menu{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: #044C8C;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.menu-icon{
    display: flex;
    justify-content: space-between;
}

.menu-icon img{
    margin-right: 10px;
}

.menu-icon p{
    color: white;
}

.menu-icon a{
    color: white;
}

.img-item{
    height: 25px;
    width: 25px;
}

#perfil{
    height: 25px;
    width: 30px;
}

.inicio{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30%;
    top: 40%;
}



